*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.container {
  width: 20rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: blueviolet;
  color: white;
  padding: 2rem;
  gap: 1rem;
  align-items: center;
}

.container button {
  width: fit-content;
}

.brown {
  background-color: brown;
}
